body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

#master-mode-toggle-label{
  padding-right: 10px;
}

#app-body {
  height: calc(100vh - 55px);
  width: 100vw;
  margin: 0;
  padding: 0;
}

#app-body > div {
  overflow: scroll;
}

.navbar {
  background: whitesmoke;
  border-bottom: 1px solid lightgrey;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.navbar-header {
  width: 100%;
}

.display-flex{
  display: flex;
}

.display-flex > div,
.display-flex > button {
  margin-right: 8px;
}

.hero-name {
  min-width: 218px;
  max-width: 218px;
  line-height: 38px;
}

.left-pane {
  border-right: 1px solid lightgrey;
}

.left-pane > hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.right-pane,
.right-pane > div{
  padding: 0 !important;
}

.row-without-margin {
  display: flex;
  flex-wrap: wrap;
}

.list-group {
  padding-right: 0 !important;
}

.test-btn {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.fixt-table {
  width: 100%;
  margin-bottom: 0 !important;
}

.fixt-table > thead > tr > th {
  height: 34px;
}

.fixt-table > thead,
.fixt-table > tbody,
.fixt-table > thead > tr,
.fixt-table > tbody > tr,
.fixt-table > thead > tr > th,
.fixt-table > tbody > tr > td {
  display: block;
}

.fixt-table > tbody > tr:after,
.fixt-table > thead > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.fixt-table > tbody {
  overflow-y: auto;
  height: calc(100vh - 89px);
}

.fixt-table-4 > tbody > tr > td,
.fixt-table-4 > thead > tr > th {
  width: 25%;
  float: left;
}

.fixt-table-5 > tbody > tr > td,
.fixt-table-5 > thead > tr > th {
  width: 20%;
  float: left;
}

.house-rule-delete {
  right: 16px;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.custom-file {
  margin-right: 8px !important;
  width: 210px !important;
}

.btn-remove-hero {
  width: 37px;
  height: 37px;
}